/********************TAG SELECOTR**********************/
h1 {
  color: red;
  font-size: 200px;
}

img:hover {
  background-color: gold;
}


/********************CLASS SELECOTR**********************/

.bacon {
  background-color: green;
}

.broccoli {
  background: red;
}

.circular {
  border-radius: 100%;
}
/********************ID SELECOTR**********************/
#heading {
  color: blue;
}
